{% extends 'base.html.twig' %}

{% block title %}New Typereclamation{% endblock %}

{% block body %}
    <h1>Create new Typereclamation</h1>

    {{ include('typereclamation/_form.html.twig') }}

    <a href="{{ path('typereclamation_index') }}">back to list</a>
{% endblock %}
