{% extends 'base.html.twig' %}

{% block title %}New Cin{% endblock %}

{% block body %}
    <h1>Create new Cin</h1>

    {{ include('cin/_form.html.twig') }}

    <a href="{{ path('cin_index') }}">back to list</a>
{% endblock %}
